.DS_Store
arrays/
couhes/
exp1/pre-reg
exp1/analysis_scripts/deprecated/
exp1/analysis_scripts/event_scripts/
exp1/analysis_scripts/input_data/
exp1/analysis_scripts/vis_statistics/
exp1/experiment_scripts/event_files/
exp1/experiment_scripts/stim/
exp2/pre-reg
exp2/figures
*_scratch*
exp2/cogsci_2023
exp2/analysis_scripts/old_snippets.Rmd
exp2/analaysis_scripts/vis_statistics/
exp2/analysis_scripts/input_data
exp2/experiment_scripts/experiment_outputs/
exp2/experiment_scripts/DOTSloc/fischer_videos
exp2/experiment_scripts/VOE/stimulus_schedules/
exp2/experiment_scripts/VOE/voe_stimuli/
exp2/figures/
exp2/pre-reg/
mricrogl_scripts/
roi_parcels/
newfeature_idea.txt
stim/
.Rproj.user
writing/
3_ReportFindings_older.Rmd
*_cache/
*_files/
*.zip